*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
freeline.py
freeline/
/freeline_core/__init__.py
/freeline_core/android_tools.py
/freeline_core/build_commands.py
/freeline_core/builder.py
/freeline_core/command.py
/freeline_core/cursor.py
/freeline_core/dispatcher.py
/freeline_core/exceptions.py
/freeline_core/freeline_build.py
/freeline_core/gradle_clean_build.py
/freeline_core/gradle_inc_build.py
/freeline_core/gradle_tools.py
/freeline_core/hackwindows.py
/freeline_core/init.py
/freeline_core/logger.py
/freeline_core/sync_client.py
/freeline_core/task.py
/freeline_core/task_engine.py
/freeline_core/terminal.py
/freeline_core/tracing.py
/freeline_core/utils.py
/freeline_core/version.py
/freeline.py
/freeline
/freeline_core